.list{
    text-align: center;
}
.add{
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 20px;
    color: white;
    background-color: rgb(4, 85, 4);
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 30px;


}
#users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.people{
    border: solid 1px green;
    border-radius: 60px;
    margin-bottom: 4%;
    text-align: center;
}

